-if notice
  .alert.alert-success
    = notice

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = link_to(product.category.name, category_path(product.category))

%h3 Reviews
-if user_signed_in?
  = render 'reviews/review_box'
.reviews-container
  = render reviews
.btn-group
  - if user_signed_in? and user_is_admin?(current_user)
    = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-default'
  = link_to 'Back', category_products_path, class: 'btn btn-primary'
