= simple_form_for [category, product, review], {:remote => true, :format => :json} do |f|
  = render 'reviews/form_errors'
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .text-right
    .stars.starrr{'data-rating' => 0}
    %a#close-review-box.btn.btn-danger.btn-sm{'style' => 'display:none; margin-right: 10px;', 'href' => '#'}
      %span.glyphicon.glyphicon-remove
        Cancel
    = f.input :rating, :id => 'rating-hidden', :as => :hidden
    %input.btn.btn-success.btn-lg{'type' => 'submit', 'value' => 'Save'}
